.contenedorEncabezado{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    background-color: rgb(25, 25, 25);
}


.contenedorIcono{
    display:flex;
    background-color: rgb(25, 25, 25);
}

.h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -33px;
    margin-right: 9px;
    cursor: default;
    background-color: rgb(25, 25, 25);
}

.icono{
    height: 100px;
    width: 100px;
    border-radius: 40px;
    margin: 10px;
}

.logo{
    height: 150px;
    width: 150px;
    background-color: rgb(25, 25, 25);
}