.contenedorLogin{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 180px;
}

*{
    background-color: rgb(50, 50, 50);
}

input{
    background-color: aliceblue;
}
.botonInicio, .botonCrear{
    height: 18px;
    width: 80px;
    margin-top: 12px;
    margin-right: 15px;
    background-color:rgba(244,139,0,255);
    color:rgb(0, 0, 0);
    border: 1px solid black;
    font-family: Impact, Tahoma, sans-serif;
    border-radius: 13px;
}
img{
    
    width: 200px;
    height: 200px;
}